.header-image {
  height: 75px;
}

.header-image img {
  max-height: 90px;
}

.header-search input {
  width: calc(100% - 50px);
  padding: 10px;
  letter-spacing: 0.03em;
  border-radius: 3px;
  border: 1px solid var(--secondary-color);
}

.header-search img {
  padding: 5px;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .header-search {
    margin-top: 40px;
  }
}
